body{
    margin: 0;
    width: 100%;
    background: #222;
}

.form-registro{
    width: 60%;
    background: #4442;
    margin: auto;
    border-radius: 3px;
    margin-top: 80px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 30px #bbb;
}

.title-form{
    color: aliceblue;
    margin: 20px 0 40px 0;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 100;
    text-shadow: 0 0 5px #bbb;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form-input{
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 15px;
}

/* Se pueden hacer que 2 o mas elementos tengan las mismas pripiedades seleccionandolos con una coma de por medio */
.input , .textarea, .input-select, .input-datalist{
    width: 82%;
    height: 30px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 1px;
    background: transparent;
    border-color: #bbb;
    padding: 5px 10px;
    color: #bbb;
}

.input-2{
    width: 40%;
    margin: 0 1%;
}

.textarea{
    max-width: 82%;
    height: auto;
    resize: none; /* risize "none" impiede que el usuario pueda cambiar el tamaño del textarea, risize "vertical" permite que el usuario pueda cambiar el tamaño del textarea solo verticalmente */
    /* min-height: 200px; */
    font-family: sans-serif;
    padding: 10px 10px;
    /* Este atributo todavia no salio pero cuando salga basicamente va a permitir que el textarea se vaya expandiendo hacia abajo a medida que vayamos escribiendo mas texto */
    form-sizing: content;
}

.input-select{
    font-size: 15px;
    color: #bbb;
    border-color: #bbb;
}

option{
    background: #222;
    color: #bbb;
}

.fieldset{
    color: #bbb;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 18px 0;
    padding: 10px 0 5px 0;
}

.legend{
    text-align: left;
    font-family: sans-serif;
    font-size: 22px;
    padding: 0 10px;
    margin-left: 5px;
}